[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
lightning = "*"
scipy = "*"
cshogi = "*"
h5py = "*"
dask = "*"
pandas = "*"
icecream = "*"
onnx = "*"
pyyaml = "*"
wandb = "*"

[dev-packages]

[requires]
python_version = "3.10"
